:root {
  --fond: #303033;
  --main-color: #590000;
  --font-size: 20px;
  --window-fond: rgba(0, 0, 0, 0.4);
  --link-color: rgb(183, 28, 28);
  --link-color-hover: #6c5ce7;
  --link-decoration: none;
  --link-decoration-hover: underline;
  --blanc: #ecf0f1;
  --common-font: 'Roboto', sans-serif;
  --bis-font: purista-web, sans-serif;
}

html, body {
  height: 100%;
  background-image: url("img/fond.jpg");
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
  font-size: var(--font-size);
  font-family: var(--common-font);
  color: var(--blanc);
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.title {
  font-size: 90px;
  font-style: normal;
}

.link {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

.link:hover {
  color: var(--link-color-hover);
  text-decoration: var(--link-decoration-hover);
  font-size: var(--font-size);
}

img {
  width: 15%;
  height: 15%;
}
