@import url("home.css");

.title {
  font-size: 60px;
}

.container table {
  display: inline-block;
  margin: auto;
  background: var(--window-fond);
  border-color: #485460;
}

.container th {
  font-family: var(--bis-font);
  font-weight: inherit;
  padding: 10px;
}

.form-group fieldset {
  background: var(--window-fond);
  border-color: black;
}

@media screen and (min-width: 480px) {

}
