@import url("home.css");

.navbar {
  background: var(--window-fond);
  display: block;
  position: fixed;
  text-transform: capitalize;
  width : 100%;
  height : 70px;
  margin: 10px;
}

.nav-items a {
  color: var(--blanc);
  text-decoration: none;
  font-size: 20px;
}

.nav-items a:hover {
  color: var(--link-color);
}

.nav-items a#en-cours {
  color: var(--link-color);
  font-size: 25px;
}

.nav-items li {
  list-style-type: none;
  color: inherit;
  display: inline;
  font-size: 20px;
  padding: 0 0.5em;
}

li a.nav-right {
  float: right;
  margin-right: 50px;
}
