@import url("home.css");

.content a {
  color: var(--link-color);
  text-decoration: var(--link-decoration);
}

.content a:hover {
  color: var(--link-color-hover);
    text-decoration: var(--link-decoration-hover);
    font-size: 25px;
}
